body {
	background: url("../images/kloak.png") no-repeat fixed;
	background-size: 200px;
	background-position:3% 97%;
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  cursor: pointer;
}

a:hover,
a:active,
.buttonHeader:hover,
.buttonHeader:active,
.btn-primary:hover,
.btn-primary:active {
  background-color: #f2a4c8;
  color:white;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

.ng-invalid.ng-touched {
  border: 1px solid red;
}

.buttonHeader,
.btn-primary {
	background-color: #f21f84;
	border: none;
}
